.padding {
  padding: 3rem !important;
}

.userCardFull {
  overflow: hidden;
  height: 435px;
}
.pageForm {
  box-shadow: 0 0 8px gray;
  background-color: #8585e9;
  height: 700px;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}
.formCard {
  margin-top: 50px;
  margin-left: 8%;
}
.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.userCardFull .userProfile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.userProfile {
  padding: 20px 0;
  border-radius: 7px;
  background-color: #ef6f6a;
}
.cardContent {
  background-color: white;
}
.cardBlock {
  padding: 50px 5px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.imgRadius {
  border-radius: 5px;
  margin-top: -30%;
  width: 80%;
}

.logoutBtn {
  text-align: center;
  border-radius: 4px;
  background-color: #f29263;
  color: white;
  padding: 5px 18px;
  border-style: none;
  margin: 18px 1px 0 105px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ece1cb;
  width: 100%;
  height: 700px;
}

.signPara {
  font-weight: 600;
}

.formControl {
  display: block;
  width: 400px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.loginBtn {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  background-color: black;
  border-color: black;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  width: 95%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.forget {
  color: black;
  text-decoration-color: black;
  margin-left: 28%;
}
.formCheck2 {
  display: block;
  min-height: 1.5rem;
  margin-left: -13%;
}

.forget2 {
  background-color: #e6e8ec;
  width: 100%;
  height: 700px;
}
.pageHead {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  color: #1997ca;
  margin-top: 15%;
}
.backBtn {
  background-color: #1997ca;
  color: white;
  padding: 10px 15px;

  border: 2px solid #1997ca;
  border-radius: 8px;
  margin-top: 3%;
}

.loginForm {
  background-color: white;
  text-align: start;
  padding: 0 40px;
  height: 460px;
  margin-left: -15%;
  width: 500px;
}
.humanImg {
  height: 460px;
  width: 300px;
}
.eyeBtn {
  border-style: none;
  position: absolute;
  left: 370px;
  bottom: 12px;
  cursor: pointer;
}
.eye {
  position: relative;
}

.cardContent {
  height: 600px;
}
.cardImg {
  width: 89.2%;
}
.cardName {
  margin-top: -5%;
}
.tableBtn {
  color: #072cf0;
 
  font-weight: bolder;
}
.timerText {
  font-weight: bolder;
  /* margin-top: 20px; */
}
Input[type="text"] {
  border-style: none;

  /* margin-left: -13%; */
  padding: 0 0 0 14px;
  border-style: none;
  color: black;
  /* width: 20%; */
}
Input[type="number"]:focus {
  border-style: none;
  outline: none;
}

.firstText {
  border-style: none;
  color: black;
}

.hr1 {
  width: 575px;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.timerStart {
  border-style: none;
  background-color: #57af57;
  color: white;
  margin-top: 15px;
  border-radius: 4px;
}
.timerStop {
  border-style: none;
  background-color: #5b83a3;
  color: white;
  margin-top: 10px;
  border-radius: 4px;
}
.timerReset {
  border-style: none;
  background-color: #e8a84b;
  color: white;
  margin-left: 10px;
  border-radius: 4px;
}
.tabSpan{
  margin-top: 8px;
}