.formRow {
  width: 60%;
  margin-left: 20%;
}
.validationCard {
  background-color: #e4dee1;
  border-radius: 10px;
}

.selectValue {
  padding: 8px 560px 16px 13px;
  border-radius: 4px;
  border-color: #cdc9c9;
}
.selectValue2 {
  padding: 8px 70px 16px 13px;
  border-radius: 4px;
  border-color: #cdc9c9;
}
.selectValue3 {
  padding: 8px 80px 16px 13px;
  border-radius: 4px;
  border-color: #cdc9c9;
}
.selectValue4 {
  padding: 8px 80px 16px 13px;
  border-radius: 4px;
  border-color: #cdc9c9;
}


.userBtn {
  background-color: #1997ca;
  color: white;
  border-style: none;
  padding: 8px 10px;
  border-radius: 5px;
 
  margin: 10px -270px 50px 0px;
}

.editBtn {
background-color: #a79f08;
color: white;
border-style: none;
border-radius: 5px;
padding: 5px 10px;


}

.dltBtn {

background-color: #dc3545 !important;
color: white;
border-style: none;
border-radius: 5px;
padding: 5px 10px !important;
margin-left: -32%;

}

.search1 {
border-radius: 10px;
border: 20px solid #1997ca;
height: 38vw;
}
